:root {
  --color-background: #0a0b0d;
  --color-background-soft: #1a1b21;
  --color-white: #ffffff;
  --color-gray: #a3a5a6;
  --color-primary: #1335f5;
  --color-primary-hover: #4560f7;

  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1024px;
  --large-desktop: 1440px;
  --xlarge-desktop: 1920px;
}

body {
  background-color: var(--color-background);
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
