@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1312px;
  width: 100%;
  margin: 0 auto;
  /* padding: 1rem; */
  /* font-weight: normal; */
  /* min-height: 100vh; */
}
